.logo-header {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--logo-second-color);
  text-decoration: none;
  margin-right: 93px;
  margin-left: 0;
}

.logo-part {
  color: var(--logo-accent-color);
}
